<h1>Thanks for submitting this form! You have submitted this form <%= @counter %> times now.</h1>

<h2>Submitted Information</h2>


	
<p><%= @name %></p>
<p><%= @location %></p>
<p><%= @language %></p>
<p><%= @comment %></p>

